<div class="container"
  style="border: 1px solid rgba(0, 0, 0, 0.255); border-radius: 26px; padding: 1%; margin-bottom: 10px; margin-top: 20px;">
  <div class="__name" style="padding: 1%; cursor: grabbing;  ">
    <h6 routerLink="" style="font-family: 'Dancing Script', cursive; margin-top: 19px;"> hungry Man's Pizza <i
        class="fa-sharp fa-solid fa-pizza-slice fa-flip-both fa-lg"></i>
    </h6>
    <div class="more" style="border: 1px solid rgba(0, 0, 0, 0.255); border-radius: 26px; padding: 1%">

      <button style="margin-right: 10px; justify-content: center; margin: auto; margin-right: 10px;"
        routerLink='resto/orders'>Orders</button>
      <button style="margin-right: 10px; justify-content: center; margin: auto; margin-right: 10px;"
        routerLink="resto/favorite">Favorites</button>
      <button style="margin-right: 10px; font-size: 15px; " routerLink="resto/pending"> <i style="padding: 3%;"
          class="fa-solid fa-user"></i> Admin</button>
    </div>

  </div>
</div>
