<div class="container" style="
    border: 1px solid rgba(0, 0, 0, 0.255);
    border-radius: 36px;
    padding: 3%;
  ">
  <div class="whole">
    <div class="_content_head">
      <h1>Your Orders</h1>
      <div class="trans_details col-4" style="
    border: 1px solid rgba(0, 0, 0, 0.255);
    border-radius: 36px;
    padding: 3%;  ">
        <h4>Your Order Is Successfully Placed </h4>

        <h3>Your Transaction ID : <span style="          font-family: 'Barlow Condensed', sans-serif;
          ">{{transID}}</span></h3>
      </div>
    </div>
  </div>
</div>
