<div class="container"
  style="border: 1px solid rgba(0, 0, 0, 0.255); border-radius: 36px; padding: 4%;  min-height: 250vh;">

  <div class="__image ">
    <!-- bg  img -->
  </div>

  <div class="__content">
    <h1>Hungry man's</h1>
    <small>Hot and fresh from our oven to your doorstep - experience a slice of heaven ! </small>
    <div class="__buttons">
      <button style="margin-right: 13%; border: 0;" routerLink='aboutus'></button>
    </div>
    <div>
      "Indulge in a slice of heaven with our delicious, freshly baked pizzas. Made with the finest ingredients and
      bursting with flavor, every bite is a taste sensation. Order now and experience pizza perfection!"
    </div>
  </div>

  <div class="__menu_img">
    <img src="https://iili.io/HvaMjEb.png" style="width: 500px;">
  </div>
  
  <div class="__content_bottom" style="margin-top: -500px;">
    <h1 style="font-size: 93px;">today specials</h1>
    <small> From the dough to the toppings, everything is made in-house and with attention to detail, resulting in a
      delicious and authentic pizza experience.</small>
  </div>

  <div class="__menu" id="menu">
    <div class="row">
      <div class="card-image">
        <div routerLink="view/{{item.id}}" class="__multiple"
          style="border: 1px solid rgba(0, 0, 0, 0.163); border-radius: 30px; padding: 2%; margin-right: 18px;"
          *ngFor="let item of menuitems">
          <img class="__pizza" src={{item.image}} width="300px">
          <div class="category"> {{item.name}} </div>
          <div class="heading">{{item.description}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
